<div class="wrapper ma">
    <mat-card>
        <mat-card-title>{{'CHANGE_PASSWORD' | translate}}</mat-card-title>
        <mat-card-content>
            <form [formGroup]="form"
                fxLayout='column'>
                <mat-form-field appearance="outline"
                    validationMessageContainer>
                    <mat-label>{{'NEW_PASSWORD' | translate}}</mat-label>
                    <input type='password'
                        matInput
                        [placeholder]="'NEW_PASSWORD' | translate"
                        formControlName='password'
                        required>
                </mat-form-field>
                <mat-form-field appearance="outline"
                    validationMessageContainer>
                    <mat-label>{{'CONFIRM_NEW_PASSWORD' | translate}}</mat-label>
                    <input type='password'
                        matInput
                        [placeholder]="'CONFIRM_NEW_PASSWORD' | translate"
                        formControlName='passwordConfirm'
                        required>
                </mat-form-field>
                <div>
                    <button class="mt8"
                        mat-raised-button
                        color='primary'
                        (click)="changePassword()"
                        [disabled]="form.invalid || loading">{{'SAVE' | translate}} 
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
    <div class="mt8"
        fxLayout='row'>
        <div fxFlex></div>
        <button mat-button
            color='primary'
            routerLink='/login'>{{'LOGIN' | translate}}</button>
    </div>
</div>