<div class="wrapper ma">
    <mat-card>
        <mat-card-title>
            {{'ENTER_CODE' | translate}}
        </mat-card-title>
        <mat-card-content>
            <form [formGroup]="form"
                fxLayout='column'>
                <mat-form-field appearance='outline'
                    validationMessageContainer>
                    <mat-label>{{'CODE' | translate}}</mat-label>
                    <input type="text"
                        [placeholder]="'CODE' | translate"
                        matInput
                        formControlName='key'
                        required>
                </mat-form-field>
                <div class="mt8">
                    <button mat-stroked-button
                        color='primary'
                        [disabled]="form.invalid || loading"
                        (click)="goToChangePassword()">
                        {{'CONTINUE' | translate}}
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
    <div class="center p24">
        <div *ngIf='(time | async) !== 0; else sendAgainButton'>{{time | async}} <span class="op6">{{'SECOND' | translate}}</span></div>
        <ng-template #sendAgainButton>
            <div>
                <button mat-raised-button
                    [disabled]='loading'
                    (click)="callOtp()">{{'SEND_CODE_AGAIN' | translate}}</button>
            </div>
        </ng-template>
    </div>
</div>